.container {
   font-size: 26px;
   display: flex;
   gap: 20px;
   height: 60px;
   padding-left: 50px;
   padding-top: 20px;
}

.link {
   color: black;
}

.link:hover,
.link:focus {
   color: turquoise;
}

.active {
   color: turquoise;
}