.btn {
   background-color: turquoise;
   padding: 10px;
   color: white;
}

.btn:hover {
      background-color: rgb(29, 123, 114);
   }

.container {
   display: flex;
   gap: 10px;
   margin-left: 20px;
   margin-top: 30px;
}

.input {
   border: 2px solid black;
   width: 250px;
   border-radius: 6px;
}

